.product__heading-col {
    padding-bottom: 16px;
    border-bottom: 1px solid #FA5959;
}
.product__heading-col h1 {
    color: #FA5959;
    font-family: var(--headings-font);
    font-size: 24px;
    line-height: 30.72px;
    margin-bottom: 8px;
}
.product__heading-col p {
    color: #161616;
    font-family: 'Helvetica-Neue Light';
    font-size: 16px;
    line-height: 19.34px;
}